{{ partial "header.html" . }}

<main class="content" role="main">

<div class="archive">
    <!-- Ranges through content/blog/*.md -->
    {{ range (.Paginator 5).Pages }}  
<article class="archive-item">
        <h2 class="article-title" class="archive-title"><a href="{{.RelPermalink}}">{{ .Title }}</a></h2>
        <span class="article-date" class="dt-published" class="p-name">{{ .Date.Format "January 2, 2006" }}</span><br />
       
        <div class="e-content" class="article-content">{{ .Content }} <!-- automatically takes the first paragraph in the .md article --></div>
<div class="horizontal_dotted_line"></div>
</article>
 
    {{ end }}

  </div>
{{ partial "pagination.html" . }}


</main>

{{ partial "footer.html" . }}