<main class="content" role="main">

  <article class="h-entry" class="article">
    {{ if eq .Section "post" }}
    <span class="article-duration">{{ .ReadingTime }} min read</span>
    {{ end }}

    <h1 class="article-title" class="p-name">{{ .Title }}</h1>

    {{ if eq .Section "post" }}
    <span class="dt-published" class="article-date">{{ .Date.Format "January 2, 2006" }}</span>
    {{ end }}

    <div class="e-content" class="article-content">
      {{ .Content }}
    </div>
  </article>

</main>